<div class="container-img">
  <div class="banner"  style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('../../assets/images/landingpageup.png') ;">
    <div class="container">
      <h1 class="banner_title">Loja Handmade <strong>pointLESS</strong> content to <strong>creative people</strong>!</h1>
      <p class="banner_p">Venha descobrir os nossos produtos </p>
      <%# <a class="btn btn-flat" href="#">Sign up</a> %>
      <%# if user_signed_in? %>
        <%= link_to "Browse", items_path, class: 'btn btn-flat' %>
      <%# else %>
        <%#= link_to "Sign up", new_user_registration_path, class: 'btn btn-flat' %>
      <%# end %>
    </div>
  </div>
</div>
