<div class="body-home-div">

  <div id="blob" class="position-absolute" style="top: -2%;"></div>

    <div class="content-text-home-landing-parent">
      <h3 class="neonText">Handmade</h3>
      <p class="fw-light neonText"> Produtos Artesanais com Gosto</p>
      <%= link_to "Browse", dashboard_path, class: 'btn btn-flat' %>
    </div>


  <div class="home-explaining-content-parent">
    <div class="home-explaining-content-child">
      <div class="card-explain-home">
        <i class="ph-fast-forward-circle"></i>
        <h2>Fast</h2>
        <h4><strong>Easy and fast to use.</strong><br/> Simply sign up, input your wallet key, go to your dashboard, import your NFT's, and get started</h4>
      </div>
      <div class="card-explain-home">
        <i class="ph-sliders" style="transform: rotate(90deg);"></i>
        <h2>Customizable</h2>
        <h4><strong>Customize to your needs.</strong><br/>You can add <strong>Music</strong>, change <strong>Color</strong>, choose <strong>Fonts</strong>, update <strong>Name</strong>, and append, remove or reorder your <strong>NFT's</strong>.</h4>
      </div>
      <div class="card-explain-home">
        <i class="ph-share-network"></i>
        <h2>Accesible</h2>
        <h4><strong>Share with your friends and family.</strong><br/>Display to the world your collection and flex-on them haters <br/>#taylorswift</h4>
      </div>
    </div>
  </div>
</div>
