<div class="body-home-div">

  <div id="blob" class="position-absolute" style="top: -2%;"></div>

    <div class="content-text-home-landing-parent">
      <h3 class="neonText">Handmade</h3>
      <p class="fw-light neonText"> Produtos Artesanais com Gosto</p>
      <%= link_to "Browse", dashboard_path, class: 'btn btn-flat' %>
    </div>
